/* .bc-container {
    border: 1px solid red;
} */

.bc-container h1{
    text-align: center;
}

.test-flex {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;
}

.block-disp {
    margin: 0 auto;
    width: 15vw;
    overflow: hidden;
    border: 1px solid red;
}