.bc-container {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.bc-container h1{
    text-align: center;
}

.test-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid green; */
}

.block-disp {
    /* margin-top: 1rem; */
    margin-bottom: 1.7rem;
    padding: 1rem;
    width: 15vw;
    overflow: hidden;
    background-color: gold;
    border: 1px solid black;
}

.sec-trans {
    padding-left: 1.5rem;
}